body {
  min-width: 500px;
  max-width: 100%;
  position: relative;
  vertical-align:middle;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

.main {
  margin: 10px;
}

.styled-table {
  border-collapse: collapse;
  width: 100%;
  margin: 0px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: hsl(209, 72%, 52%);
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.table-button {
  position: relative;
  align-self: center;
}

.container {
  display: flex;
  margin-top: 15px;
  justify-content: center;
  align-items: center;
}

.center {
  margin: 20px;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  
}

.left-right {
  width: 100%;
  display:inline-block;
  overflow: auto;
  white-space: nowrap;
  margin: 0px auto;
}

h2 {
  text-align: center;
}

